.container {
  position: relative;
}

.add-icon {
  font-size: 36px;
  display: inline-block;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}

.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag-box {
   background-color: #ddd;
   display: flex;
   align-items: center;
   gap: 10px;
   border-radius: 10px;
   font-size: 14px;
   padding: 5px 10px;
   margin-bottom: 0;
}

.action-container {
    font-size: 20px;
}

.action-icon {
    cursor: pointer;
}

.action-icon:hover {
    color: #0d6efd;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .add-icon {
    bottom: 40px;
    right: 40px;
  }
}
