<div class="modal-header">
  <h5
    class="modal-title"
    mat-dialog-title
    *ngIf="imageData?.imageData && imageData?.imageData?.imageData"
  >
    {{ imageData.imageData?.imageData.title }}
  </h5>
  <h5 class="modal-title" mat-dialog-title *ngIf="!imageData?.imageData">
    Manage Image
  </h5>
</div>
<div class="modal-body" mat-dialog-content>
  <div *ngIf="imageData?.imageData && !imageData?.imageData?.isEditable">
    <div class="mb-3">
      <img
        [src]="imageData.imageData.imageData.image"
        class="img-thumbnail"
        [alt]="imageData.imageData.imageData.title"
      />
    </div>
    <div class="tags-container mb-3 d-flex align-items-center">
      <p class="tag-box" *ngFor="let tag of (showAll ? imageData.imageData.imageData.tags : imageData.imageData.imageData.tags.slice(0, 2))">
        {{ tag | titlecase }}
      </p>
      <p (click)="onShowAll()" *ngIf="imageData.imageData.imageData.tags.length > 2 && !showAll" class="tag-counter-box">
        <span class="tag-counter">+{{ imageData.imageData.imageData.tags.length-2 }}</span>
      </p>
    </div>

    <div class="text-muted mb-3">
      {{ imageData.imageData.imageData.date | date : "medium" }}
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-danger me-2" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>

  <form
    [formGroup]="form"
    class="form-group"
    *ngIf="!imageData?.imageData?.imageData || imageData?.imageData?.isEditable"
  >
    <div *ngIf="errorMessage" class="text-center mt-2">
      <p class="alert alert-danger d-flex justify-content-between">
        <span>{{ errorMessage }}</span>
        <button
          type="button"
          class="btn-close x-btn"
          aria-label="Close"
          (click)="onRemoveAlert()"
        >
          X
        </button>
      </p>
    </div>

    <div class="mb-3">
      <label for="imageTitle" class="form-label">*Image Title</label>
      <input
        type="text"
        maxlength="50"
        class="form-control"
        id="imageTitle"
        formControlName="title"
      />
    </div>
    <div class="mb-3">
      <label for="imageFile" class="form-label">*Image</label>
      <input
        type="file"
        accept=".png,.jpg,.jpeg"
        class="form-control"
        id="imageFile"
        (change)="onFileSelect($event)"
        formControlName="imageFile"
      />
    </div>
    <div class="mb-3 text-center">
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        class="img-thumbnail"
        alt="Image preview"
      />
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">*Tags</label>
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          id="tags"
          maxlength="10"
          formControlName="tags"
        />
        <button
          type="button"
          class="btn btn-outline-secondary col-4"
          (click)="onAddTag()"
          [disabled]="!(form.get('tags').value?.length > 0)"
        >
          Add Tag
        </button>
      </div>

      <div class="tags-container d-flex align-items-center" *ngIf="tags.length > 0">
        <p class="tag-box" *ngFor="let tag of (showAll ? tags : tags.slice(0, 2)); let i = index">
          <span class="tag">{{ tag }}</span>
          <button class="x-btn" type="button" (click)="onRemoveTag(i)">
            X
          </button>
        </p>
        <p (click)="onShowAll()" *ngIf="tags.length > 2 && !showAll" class="tag-counter-box">
          <span class="tag-counter">+{{ tags.length-2 }}</span>
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-danger me-2" (click)="onCancel()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="!form.valid || tags.length < 1 || !imagePreview"
      >
        Submit
      </button>
    </div>
  </form>
</div>
